name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PUBLIC_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            set -e
            cd ~/server/scripts
            bash ./github_actions_server.sh
